* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  max-width: 1200px;
  margin: 0 auto; 
  background-color: #000;
}

/* HEADER */
header {
  background-color: #000;
  padding: 10px; /**/
  display: flex; /*Colunas uma do lado da outra*/
  align-items: center; /**/
  justify-content: space-around; /* Separado em colunas*/
}


header h1 {
  color: #dc3545;
  font-size: 2.5rem;
}

header span {
  color: #fff;
}

header .primary-navigation {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 60px;
}

header .primary-navigation li a {
  color: #fff;
  widht: 0px;
  height: 0px
  font-size: 1.3rem
}

header .primary-navigation li a::after {
  content: '';
  width: 0px;
  height: 0px;
  display: block;
  border-bottom: 4px solid transparent;
  transition: .5s;
}

header .primary-navigation li a:hover::after {
  width: 100%;
  height: 0px;
  padding: 0px;
  border-bottom: 4px solid #dc3545;
}

header .fa-bars {
  position: relative; /* Adicione essa propriedade */
  z-index: 2;
  /* Outros estilos aqui */
  margin-top: 30px;
}

/* DOWNLOAD CV SEÇÃO */
.section-div {
  animation: initialize .7s forwards;
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr; /*Texto de um lado, foto do outro*/
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  padding: 60px;
}

.section-div div {
  margin-top: 120px;
  align-self: start;
  display: grid;
  gap: 30px;
}

.section-div h2 {
  font-family: 'Poppins';
  font-weight: 600;
  color: #f7f7f7;
}

.section-div div p {
  font-family: 'Poppins';
  font-wight: 200;
  color: #f7f7f7;
}

.section-div div a {
  justify-self: start;
  color: #fff;
  padding: 15px 40px;
  border-radius: 5px;
  border: 2px solid white;
}

.section-div img {
  max-width: 100%;
}

.typing::after {
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: pisca .8s infinite;
}

@keyframes pisca {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes initialize {
  from {
    opacity: 0;
    transform: translate(0, -60px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/*SEÇÃO PRINCIPAL SOBRE MIM*/
main {
  background-color: #111;
  color: white;
}

main .about {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
  padding: 40px;
}

.about-title {
  margin: 30px 0;
  grid-column: 1/-1;
  text-align: center;
  color: #fff;
}

.about-title h1 {
  font-size: 2.5rem;
  color: #ff5d56;
  margin-bottom: 15px;
}

.about-title p {
  color: #707070;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  position: relative;
}

.about-title div {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.about-title span {
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #dc3545;
}

.about img {
  animation: sideSection .5s ease-in-out forwards;
  cursor: pointer;
  grid-row: 2;
  max-width: 100%;
  border-radius: 4px;
  filter: blur(0);
}

.about img:hover {
  transition: .5s ease-in
  filter: blur(1px)
}

.about-content {
  animation: aboutSection .6s ease-in forwards;
  grid-column: 2/-1;
  display: grid;
  color: #707070;
  grid-template-columns: 1fr 1fr;
}

.about-text {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr 1fr;
}

.about-text h1 {
  font-size: 2.3rem;
  color: #fff;
  grid-column: 1/-1;
}

.about-text h1::after {
  background-color: #ff5d56;
  height: 6px;
  width: 60px;
  margin: 20px 0;
  content: '';
  display: block;
  border-radius: 5px;
}

.about-text p {
  font-size: 1.3rem;
  grid-row: 2;
  grid-column: 1/-1;
}

.about-info {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/-1;
  gap: 15px;
  align-items: center;
}

.about-info i {
  color: #dc3545;
  display: inline-block;
  padding-right: 15px;
  font-size: 1.5rem;
}

.about-info p {
  font-size: .9rem;
}

@keyframes aboutSection {
  from {
    transition: .5s;
    transform: translate3d(60px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes sideSection {
  from {
    transition: .5s;
    transform: translate3d(-60px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

/* RESPONSIVIDADE */
@media(max-width: 992px){
  .section-div img {
    display: none;
  }

  .section-div {
    background-image: url('img/pessoa.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  header {
    justify-content: space-between;
    padding: 30px 70px;
  }
  header .primary-navigation {
    display: none;
  }

  header i {
    color: #f7f7f7;
    font-size: 3rem;
  }

  /*Clique para mostrar/esconder menu.*/
  header .primary-navigation.activated {
    background: linear-gradient(rgba(43, 42, 42, 0.176), rgba(46, 46, 46, 0.724));
    position: absolute;
    display: grid;
    top: 80px;
    color: white;
    z-index: 5; // Conteúdo ficar na frente.
    padding: 30px;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 0 0 4px 4px;
    right: 10px;
    animation: aboutSection .2s ease-in-out forwards; 
  }
}

@media(max-width: 992px){
  .about img {
    grid-column: 1/-1;
    justify-self: center;
  }

  .about-content {
    grid-column: 1/-1;
  }
}

/* Section services */

.services {
  margin-top: -30px;
  padding: 60px;
  background-color: #151515;
}
.my-services {
  padding: 60px;
  color: white;
}

.my-services ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.my-services ul li {
  cursor: pointer;
  border-radius: 6px;
  position: relative;
  padding: 10px;
  display: grid;
  gap: 30px;
  text-align: center;
  max-width: 300px;
  align-content: center;
  height: 300px;
  background-color: #222;
  flex-grow: 1;
}

.my-services ul li i {
  font-size: 2.7rem;
  color: #dc3545;
}

.my-services ul li h3 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
}

.my-services ul li p {
  color: #707070;
  font-size: 1.1rem;
}

.my-services li::before {
  content: '';
  transition: .5s ease-in-out;
  border-radius: 6px;
  width: 0px;
  height: 0px;
  position: absolute;
  top: -2px;
  right: -2px;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
}

.my-services li::after {
  content: '';
  transition: .5s ease-in-out;
  border-radius: 6px;
  width: 0px;
  height: 0px;
  position: absolute;
  bottom: -2px;
  left: -2px;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
}

.my-services li:hover::before {
  width: 100%;
  height: 100%;
  border-top: 2px solid red;
  border-right: 2px solid red;
}

.my-services li:hover::after {
  width: 100%;
  height: 100%;
  border-bottom: 2px solid red;
  border-left: 2px solid red;
}

@media (max-width: 992px) {
  .my-services ul li {
    width: 100%; /* Defina a largura para 100% em telas menores */
    max-width: none; /* Remova a largura máxima para que os elementos possam se expandir */
  }
}

/* EXPERIENCES */
.my-resume {
  color: #fff;
}

.resume-generica {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 10px;
  align-items: start;
}

.resume-generica h2 { 
  font-size: 1.5rem;
  background-color: #ff5f56;
  justify-self: start;
  padding: 10px;
  border-radius: 3px;
}
.resume-generica i {
  margin-right: 10px;
}

.experience {
  margin-bottom: 30px;
  grid-column: 1;
  grid-row: 1;
}

.education {
  margin-bottom: 30px;
  grid-column: 2;
  grid-row: 1;
}

.experience-content ul {
  color: #ff5d56;
  gap: 10px;
  display: flex;
  cursor: pointer;
  margin-top: 20px;
  justify-content: center;
}

.resume-generica .experience-content div {
  background-color: #222;
  animation: sideSection .5s ease-in-out forwards;
  display: none;
  padding: 40px;
  position: relative;
}

.resume-generica .experience-content div.active {
  display: block;
}

.resume-generica .experience-content ul li.active {
  color: #3e3d3d;
}

/* Efeito caixa de conversa*/
/* Na div também tem que ter a position como relative*/
.resume-generica .experience-content div::before {
  content: '';
  border-right: 30px solid transparent;
  border-bottom: 30px solid #222;
  position: absolute; 
  top: -20px;
  left: 30px;
  display: inline-block;
}

/* Estilo padrão do identificador */
#experience-identifier {
  color: #707070; /* Cor cinza padrão */
  font-size: 1rem; /* Tamanho da fonte  */
}

.resume-generica .experience-content div span {
  color: #dc3545;
  font-weight: bold;
}

.resume-generica .experience-content div h3 {
  margin: 10px 0;
}

.resume-generica .experience-content div p {
  color: #707070;
  font-size: 1.1rem;
}

/* MEUS DIPLOMAS E CURSOS */
.resume-generica .education-content div {
  background-color: #222;
  display: none;
  animation: sideSection .5s ease-in-out forwards;
  padding: 40px;
  position: relative;
}

.education-content ul {
  color: #ff5d56;
  gap: 10px;
  display: flex;
  cursor: pointer;
  margin-top: 20px;
  justify-content: center;
}

.resume-generica .education-content div::before {
  content: '';
  border-right: 30px solid transparent;
  border-bottom: 30px solid #222;
  position: absolute; 
  top: -20px;
  left: 30px;
  display: inline-block;
}

.resume-generica .education-content div span {
  color: #dc3545;
  font-weight: bold;
}

.resume-generica .education-content div h3 {
  margin: 10px 0;
}

.resume-generica .education-content div p {
  color: #707070;
  font-size: 1.1rem;
}

.resume-generica .education-content ul li.active {
  color: #3e3d3d;
}

.resume-generica .education-content div.active {
  display: block;
}

/* Estilo padrão do identificador */
#education-identifier {
  color: #707070; /* Cor cinza padrão */
  font-size: 1rem; /* Tamanho da fonte  */
}

.courses {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: start;
  padding: 30px;
  gap: 30px;
  justify-content: center;
}

.my-skills {
  display: grid;
}

.my-skills h2 {
  padding: 10px 30px;
  border-radius: 3px;
  background-color: #ff5f56;
  font-size: 1.5rem;
  margin-bottom: 30px;
  justify-self: start;
}
.my-skills h2 i {
  padding-right: 10px;
}

.skills-content {
  font-size: 1.5rem;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 10px;
}

.skills-content h3 {
  font-size: 1.5rem;
}

.skills-content ul {
  display: flex;
}

@media (max-width: 1089px) {
  .resume-generica .experience-content, .education-content{
    justify-self: center;
    grid-column: 1/-1;
  }

  .resume-generica .experience {
    grid-column: 1/-1;
    grid-row: 3;
    justify-self: center;
  }

  .resume-generica .education {
    grid-column: 1/-1;
    grid-row: 3;
    justify-self: center;
    margin: 30px 0;
  }

  .courses {
    grid-template-columns: 1fr;
  }

  .courses h2 {
    justify-self: center;
  }

  .courses my-skills h2 {
    justify-self: center;
  }

  .courses my-skills {
    text-align: center;
    grid-template-column: 1fr;
    justify-self: center;
    grid-column: 1/-1;
  }
}

.projects {
  padding: 30px;
  display: grid;
  justify-content: center;
  gap: 30px;
  background-color: #151515;
}

/* Estilos para a navegação entre modelos específicos de projetos */
.projects-models ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0;
}

.projects-models ul li {
  cursor: pointer;
  background-color: #222;
  border: 1px solid #333;
  padding: 6px 30px;
  color: #707070;
}

.projects-models li {
  cursor: pointer;
  background-color: #222;
  border: 1px solid #333;
  padding: 6px 30px;
  color: #707070;
}

/* Estilos para a grade de projetos */
.projects-processing ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Duas colunas por linha */
  gap: 30px;
  padding: 0;
}


/* Estilo para cada item de projeto */
.projects-processing li {
  width: 100%; /* Ocupa todo o espaço disponível na coluna */
  height: 100%;
  margin: 0 auto; /* Centraliza o elemento horizontalmente */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Adicione uma sombra suave para destacar o elemento */
  border-radius: 8px;
  background-color: #fff; /* Cor de fundo */
  transition: transform 0.2s; /* Efeito de transformação suave ao passar o mouse */
  cursor: pointer;
}

/* Pseudo-classe para o efeito de hover */
.projects-processing li:hover {
  transform: translateY(-10px); /* Move ligeiramente para cima ao passar o mouse */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Aumenta a sombra ao passar o mouse */
}

/* Estilo para a imagem dentro do item do projeto */
.projects-processing img {
  max-width: 100%;
  height: 100%; /* Mantenha a proporção da imagem */
  border-radius: 8px;
  cursor: pointer;
  display: block; /* Remova espaços indesejados abaixo da imagem */
  margin: 0 auto; /* Centralize a imagem horizontalmente */
}


.projects a {
  background-color: #222;
  text-decoration: none;
  justify-self: center;
  padding: 20px 40px;
  border: 1px solid #333;
  color: #707070;
}

.projects-models ul li.active {
  background-color: #dc3545;
  color: #151515;
  font-weight: bold;
}

#image-container {
  text-align: center;
  position: relative;
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

#enlarged-image {
  max-width: 100%;
  max-height: 60vh;
  display: block;
  margin: 0 auto;
}

#image-description h2 {
  font-size: 20px;
  margin-top: 10px;
}

#close-button {
  position: absolute;
  top: 10px;
  color: Red;
  right: 10px;
  font-size: 34px;
  cursor: pointer;
}

#image-description {
  max-width: 90%;
  margin: 20px auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 4px;
}

#image-description h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#image-description p {
  font-size: 16px;
  line-height: 1.4;
}

/* FOOTER */
fotter {
  background-color: #000000;
  padding: 30px;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  color: #f7f7f7;
}

.footer-social li {
  background-color: #212020;
  border-radius: 50%;
  border: 1px solid #333;
}

.footer-social li i { 
  padding: 30px;
  font-size: 1.5rem;
  cikir: #f7f7f7;
}

.footer-social li:hover {
  transition: .3s ease-in-out;
  cursor: pointer;
  background-color: #3e3d3d;
}

.footer-social::before {
  content: '';
  position: absolute;
  height: 5px;
  widht: 200px;
  bottom: -30px;
  background-color: #222;
}

footer .footer-comercial {
  text-align: center;
  color: #ffff;
  margin: 90px auto;
  font-size: 1.5rem;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

#image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

